.awards {
  background-color: #272727;
}

.awards .inner {
  padding: 40px 0;
}

.awards .swiper-button-prev,
.awards .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  opacity: 0.3;
}

.awards .swiper-button-prev {
  left: -100px;
}

.awards .swiper-button-next {
  right: -100px;
}

.awards .swiper-button-prev:hover,
.awards .swiper-button-next:hover {
  background-color: #fff;
  color: #333;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

/* Notice */

.notice {
  position: relative;
}

.notice .bg-left {
  width: 50%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
}

.notice .bg-right {
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}

.notice .inner {
  height: 62px;
  display: flex;
}

.notice .inner__left {
  width: 70%;
  background-color: #333;
  display: flex;
  align-items: center;
}

.notice .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .inner__left .swiper {
  height: 62px;
  flex-grow: 1;
  /* question : 왜 이렇게 했는지 설명이 필요합니다. */
}

.notice .inner__left .swiper .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .inner__left .swiper .swiper-slide a {
  color: #fff;
}

.notice .inner__left .notice-more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .inner__left .notice-more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice .inner__right {
  width: 30%;
}
