/* Badges */
header .badges {
  position: fixed;
  top: 132px;
  right: 12px;
  z-index: 1;
}

header .badges .badge {
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.15);
  cursor: pointer;
  overflow: hidden;
}
