.promotion {
  display: flex;
  justify-content: center;
  background-color: #f6f5ef;
  overflow: hidden;
  position: relative;
  height: 663px;
  transition: height 0.4s;
}

.promotion.hide {
  height: 0;
}

.promotion .swiper {
  /* question 819px 슬라이드 3개 && 사이 여백 10px 2개 = 2477px  */
  width: calc(819px * 3 + 10px * 2);
  height: 553px;
  /* question 이부분을 적용하는 이유는 flex item의 너비가 container에 따라 줄어들 수 도 있어, 감소 너비 비율의 값을 0으로 해주는 기능 */
  flex-shrink: 0;
}

.promotion .swiper-slide {
  position: relative;
  opacity: 0.5;
  transition: opacity 1s;
}

.promotion .swiper-slide-active {
  opacity: 1;
}

.promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.promotion .swiper-pagination {
  bottom: 40px !important;
  /* defalt z-index : 10 이어서 header의 9값보다 높아서 헤더 위로 페이지 번호가 보이는 문제가 발생하여 1로 덮어씁니다. */
  z-index: 1;
}

.promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../../images/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
}

.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url(../../images/promotion_slide_pager_on.png);
}

.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  top: 300px;
  z-index: 1;
  color: #333;
}

.promotion .swiper-button-prev {
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-button-next {
  right: 50%;
  margin-right: -480px;
}

.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
  background-color: #333;
  color: #fff;
}

.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
  display: none;
}
